<app-navbar></app-navbar>


<!-- The Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>User ID:</b> {{user.localId}}</p>
        <p><b>User Name:</b> {{user.displayName}}</p>
        <p><b>Email:</b> {{user.email}}</p>

      </div>
    </div>
  </div>
</div>

<!-- This is the Upload page -->
<section class="dashboard-block"  >
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal">
    Profile
  </button>
  <div class="container">
      <div class="row ">
          <div class="col dashboard-sec">
            <h2 class="text-center" style="color: #ffffff;">UPLOAD FILE</h2>

              <form class="dashboard-form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="csvFile">Upload CSV file:</label>
                <input type="file" id="csvFile" name="csvFile" (change)="onFileSelected($event)">
              </div>
              <div class="form-group">
                <label for="periodicity" class="text-center">Periodicity:</label>
                <select id="periodicity" name="periodicity" [(ngModel)]="periodicity">
                  <option value="daily">Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="yearly">Yearly</option>
                </select>
              </div>
              <div class="form-group">
                <label for="timePeriod">Period:</label>
                <input type="text" id="timePeriod" name="timePeriod" [(ngModel)]="timePeriod" >
              </div>
                <!--<button type="submit" [disabled]="!csvFile">Submit</button><br>-->
              <button type="submit" onclick="window.location.href = 'https://app.powerbi.com/groups/me/reports/56500613-202f-476e-9ac9-3f58cd0ba96d/ReportSection';">Power BI</button>
            </form>
              <br><br><br><br><br><br>
             
          </div>
          
      </div>
  </div>
</section>

